

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;900&family=Playfair+Display:wght@900&display=swap');


body {

        margin: 0;
        padding: 0;
        background-color: #ffe2cc;
      
}

.header {

    position : fixed ;
    background-color: #1A1A1A;
    height: 100%;
    max-height: 8%;
    width: 100%;
    display: flex;
    border-bottom: 5px solid transparent;
    z-index: 1;
    float : left;

}

.nav {

    margin-inline: 2%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 1;
    font-family: 'Inter', sans-serif;

}

.navigations{

    width: 80%;
    display: flex;
    justify-content: space-around;
    
}
.nav_link {

    
    text-wrap: nowrap;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-tracks: center;
    border-bottom: 5px solid transparent;
    padding-bottom: 1.5%;
    padding-top: 2%;
    transition : 0.2s;

}

.nav_link:hover {
 
    transform: translateY(7%);
    border-bottom: 5px solid #FFB1B1;
    transition : 0.5s ;

}

.navi:active {
    border-bottom: 5px solid lightcyan;
    transition : 0s ;
}

.logo {

    margin-left: 20%;
    max-height: 180px;
    z-index: 1;
    transition : transform 250ms;

}

.logo_main{
    display: flex;
    height: 100%;
}

.logo:hover {

    max-height: 180px;
    z-index: 1;
    transform : translate( 0 , 2.5% ) ;

}

/*header*/

/*content*/
.main{
    width: 100%;
    height: 65.7rem;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: -1;
    padding : 1% 0 1% 0 ;
    background: url("images/about/bg-16.png") no-repeat center;
    background-size: cover;


}

.about_heading-text{
    padding-top: 5rem;    display: flexbox;
    flex-direction: column ;
}

.t1{
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 5rem;
    margin-top: 5px;
    
}

.t2{
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top:2rem;
     margin-top: 1rem;
}

/*prt2*/
.details {
    display: flex; 
    gap: 69px; 
    margin: 27px auto; 
    max-width: 1206px; 
  }

  .imagecontain {
    width: 489px;
    height: 604px;
    flex-shrink: 0; 
  }
 
    
  .image {
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
    
  .scontainer {
    display: flex; 
    flex-direction: column;
    gap: 40px; 
    width: 644px;
    text-align: center;
  }
    

  .companytitle {
    font-family: 'Montserrat Alternates', sans-serif; 
    font-size: 35px;
    font-weight: 600;
  }
  
  .details_text {
    font-family: 'Montserrat Alternates', sans-serif; 
    font-size: 25px;
    font-weight: 400;
    text-align: justify; 
  }

 /*part3*/   
 .p32 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 44.38594rem; 
    background: url("images/about/bg4.svg") no-repeat center;
    background-size: cover;
    padding:0;
    margin: 0;

  }


  .p3 {
    display: flex;
    flex-direction: column;
    gap: 53px;
    width: 644px; 
    margin-left: 120px;
    margin-top: 125px;
  }

  .titlecontainer {
    width: 644px; 
    height: 43px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }

  .textcontainer {
    width: 644px;
    height: 390px;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-weight: 400;
  }

  .imgcontainer {
    width: 446px;
    height: 446px;
    margin-right: 122px;
    margin-left: 45px;
    margin-top: 120px;
  }

  .img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   
  /*prt4*/
  .p14{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 609px;
    background: url("images/about/bg2.svg") no-repeat center;
    background-size: cover;
    margin: 0; 
    padding: 0;
    align-items: flex-end;
    flex-shrink: 0;
    

  }
  .part4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 609px;
    align-items: flex;


    }

    .p4label{
        width: 525px;
        height: 43px;
        margin-bottom: 56px; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px; 
        font-weight: 600;

    }

    .p4label hr {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: black; 


      }


      .imgp4container {
        width: 1279px;
        height: 194px;
        margin-bottom: 45px;
        margin-top: 6px;

        padding-top: 45px;
      }

      .img5 {
        width: 100%;
        height: 101%;
        object-fit: cover;
      }
      
      .bottomtextcontain {
        width: 491px;
        height: 62px;
        display: flex;
        flex-direction: column;

        flex-shrink: 0;
        margin: 5px;
        align-items: center baseline;
        

      }
      
      .labelbottom {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px; 
        font-weight: bolder;
        text-align: center;
        margin-bottom: 8px; 

        
      }
      
      .textbottom {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px; 
        font-weight: 400;
        text-align: center;
      }
    
      /*p5*/
    .part5{
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        text-align: center;
        z-index: -1;
        padding : 1% 0 1% 0 ;
        background: url("images/about/bg3.svg") no-repeat center;
        background-size: cover;
    }
    
    
    

    .dropdown-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 919px; 

        justify-content: center;
      }
      
      .dropdown-label {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        color: white;
        text-align: center;
        width: 950px;
        margin-bottom: 15px;
        background-color: #313131;
        border-radius: 5px; height: 47px;
      }
      
      .dropdown {
        background-color: white;
        border: 1px solid black;
        width: 950.123px; 
        height: 65px; 
        overflow: hidden; 
        transition: height 0.3s ease-in-out; 
        border:black solid 1px;
      }
      
      .dropdown-toggle {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
      }

      .dropdown-toggle p{
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

      }
      
      .dropdown-toggle img {
        margin-left: auto; 
      }
      
      .dropdown:hover .dropdown-toggle img {
        transform: rotate(180deg);
      }
      
      .hover-up img {
        transform: rotate(180deg);
      }
      
      .dropdown-options {
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 300.468px; 
        overflow-y: auto; 
      }
      
      
      .dropdown-options li {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        color: black;
        padding: 5px 10px;
      }
      

      
      .dropdown:hover {
        height: auto; 
      }

      
      


/* footer na to */


.top {

    display: flex;
    background-color: #0D0D0D;
    color: white;
    width: 100%;
    height: 310px;
    justify-content: space-around;
    padding-top: 30px;

}

.Quicklinks a, .Help a, .location p, .Contacts a {

    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 18px;

}

.location p:hover, .top a:hover {

    text-decoration: underline;

}

.Quicklinks h1, .Help h1 {
    
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 18px;

}

.Contacts {

    margin-top: 120px;
    text-align: center;
    text-decoration: none;

}

.line {

    width: 200px;
    background-color: white;
    height: 1px;
 
    margin-bottom: 30px;
}

.Contacts h1 {
    
    color: white;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 18px;

}

.fb {

    margin-right: 18px;

}

.line2 {

    height: 1px;
    width: 100%;
    background-color: white;

}

.bottom {

    background-color:black;
    display: flex;
    color: white;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    text-wrap: nowrap;
    
}

.bottom p {

    font-weight: 100;

}

.ARS {

    margin-left: 950px;
}