@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

body {
    margin-top: 10%;
    margin: 0;
    padding: 0;

}

/*              HEADER START              */

/* buong header container */
.header {


    background-color: #1A1A1A;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: fixed;
    top: -1%;
    z-index: 9999;
  }
  
  /* buong div para sa navigations excluding img */
  .nav-main {
  
  
    display: flex;
    align-self: center;
  
  
  }
  
  /* img logo  */
  .header>img {
  
    margin-inline: 3vw;
    display: block;
    position: relative;
    top: -2vh
  }
  
  /* ito ung main container 
  para sa buong navigation buttons */
  .header ul {
    list-style: none;
    padding: 0;
  }
  
  
  /* ito ung list containing the anchor links */
  .header li {
  
    display: inline-block;
    position: relative;
  
  }
  
  
  /* ito ung mismong anchor links <a href>
  yung home, about us, contact, etc */
  .header li>a {
  
    margin-inline: 2vw;
    display: block;
    padding: 3.5vh 2vw;
    font-size: 1vw;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
  
  }
  
  /* dropdown content ito (beef menu vegetables etc.*/
  .header ul li ul.dropdown>li {
    display: block;
    border-radius: 10px;
    font-size: 1vw;
  
  }
  
  /* para sa mga hrefs under the dropdown */
  ul.dropdown li a {
  
    margin: 0;
    color: black;
    padding: 0.6rem 2rem;
    border: 2px solid #1A1A1A;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    
  }
  
  /* buong dropdown to */
  .header ul li ul.dropdown {
  
    width: fit-content;
  
    position: absolute;
    border-radius: 10px;
    z-index: 9999;
    display: none;
  }
  
  .header ul li>a:hover {
  
    border-bottom: 3px solid #FFB1B1;
    transition: 0.3s;
  }
  
  .header ul li>a:active {
  
    color: lightblue;
    transition: 0s;
  }
  
  /* ito ung mag popromt na lumabas dropdown pag hinover ung MENU */
  .header ul li:hover ul.dropdown {
  
    display: block;
    z-index: 999;
  }
  
  /* animation para sa hrefs under the dropdown */
  .header ul li ul.dropdown li a:hover {
  
    color: white;
    background-color: #FFB1B1;
    border: 2px solid #1A1A1A;
  }
  
  /*              HEADER STOP              */




.homepage_green {

    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1% 0 1% 0;
    background: url("images/catered-events/CATERED_EVENTS_BG.png") no-repeat center;
    background-size: cover;

}




/*                  LEADING CAROUSEL START                      */
.leading_carousel {

    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    margin-bottom: 1vh;
    font-weight: bolder;
    text-align: center;
    font-family: 'Montserrat';
}

.leading_carousel h2 {
    font-size: 3em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1vh;
}

.leading_carousel p {
    font-size: 1.5em;
    padding-bottom: 5vh;
}

.lc-slider-wrapper {

    position: relative;
    max-width: 55vw;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 25px;
}

.lc-slider img {

    object-fit: cover;
    flex: 1 0 100%;
    display: flex;
    justify-content: flex-start;

}

.lc-slider {

    display: flex;
    aspect-ratio: 16/9;
    height: auto;
    animation-name: slider-animation;
    animation:
        slider-animation 15s ease-in-out 1s infinite;

}

@keyframes slider-animation {

    0%,
    5% {
        transform: translateX(0%);
    }

    15%,
    25% {
        transform: translateX(-100%);
    }

    45%,
    60% {
        transform: translateX(-200%);
    }

    75%,
    90% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }

}

/*                  LEADING CAROUSEL STOP                        */



/*                  EVENT LIST                     */
/* Catered events text */
.catered-events-content {

    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Montserrat';
    text-align: center;
    justify-content: center;
    margin-block: 5vh;

}

.event-category-text {
    width: 100%;
    height: 18vh;
    
    font-weight: bold;
    font-size: 2em;

    margin: 5vh 0 5vh 0;
    background-color: #FFB1B1;
}

/*                  BIRTHDAYS                        */

/*                  CHEN 18                        */
.chen-18-wrapper{
    display: flex;
    width: 95vw;
    height: 52vh;

    margin: 2.2vw;
    gap: 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.chen-18-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.chen-18-text{
    position: relative;

    width: 45vw;
    height : 28vh;

    font-size: 3em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 14vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}


/*                  SAM 18                        */
.sam-18-wrapper{
    display: flex;
    width: 95vw;
    height: 52vh;

    margin: 2.2vw;
    gap: 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.sam-18-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.sam-18-text{
    position: relative;

    width: 45vw;
    height : 28vh;

    font-size: 3em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 14vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}


/*                  MARCY 65                        */
.marcy-65-wrapper{
    display: flex;
    width: 95vw;
    height: 52vh;

    margin: 2.2vw;
    gap: 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.marcy-65-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.marcy-65-text{
    position: relative;

    width: 45vw;
    height : 30vh;

    font-size: 3em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 12vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}





/*                  KIDS EVENTS                        */

/*                  MOIVIC CHRISTENING                        */
.moivic-wrapper{
    display: flex;
    width: 95vw;
    height: 52vh;

    margin: 2.2vw;
    gap: 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.moivic-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.moivic-text{
    position: relative;

    width: 45vw;
    height : 34vh;

    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 8vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}

/*                  NIKKI TURNS 1                        */
.nikki-wrapper{
    display: flex;
    width: 95vw;
    height: 52vh;

    margin: 2.2vw;
    gap: 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.nikki-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.nikki-text{
    position: relative;

    width: 45vw;
    height : 32vh;

    font-size: 3em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 10vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}

/*                  DENISE MARGARETTE TURNS 1                        */
.margaux-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    height: 105vh;

    margin: 2.2vw;
    gap: 0vh 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.dm1-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.dm1-text{
    position: relative;

    width: 45vw;
    height : 34vh;

    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 8vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}



.dmc-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.dmc-text{
    position: relative;

    width: 45vw;
    height : 34vh;

    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 8vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}





/*                  WEDDINGS AND GATHERINGS                        */

/*                  SILICON TECHNOLOGY                        */
.silicon-wrapper{
    display: flex;
    width: 95vw;
    height: 52vh;

    margin: 2.2vw;
    gap: 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.silicon-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.silicon-text{
    position: relative;

    width: 45vw;
    height : 28vh;

    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 14vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}

/*                  JASON AND KAYE WEDDING                        */
.jkwedding-wrapper{
    display: flex;
    width: 95vw;
    height: 52vh;

    margin: 2.2vw;
    gap: 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.jkwedding-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.jkwedding-text{
    position: relative;

    width: 45vw;
    height : 28vh;

    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 14vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}

/*                  SEMINAR                        */
.seminar-wrapper{
    display: flex;
    width: 95vw;
    height: 52vh;

    margin: 2.2vw;
    gap: 4.2vw;

    border-radius: 15px;
    background-color: #dcffe1;
    
}

.seminar-gallery {
    position: relative;
    overflow: hidden;

    max-width: 40vw;
    width: 40vw;
    height : 42vh;
    
    font-size: 3em;
    
    margin-top: 5vh;
    margin-left: 2.5vw;

    border-radius: 20px;
    border: 5px solid #FFB1B1;
}

.seminar-text{
    position: relative;

    width: 45vw;
    height : 27vh;

    font-size: 3em;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;

    padding-top: 15vh;
    margin-top: 5vh;

    border-radius: 20px;
    background-color: white;
}


/* footer na to */


.top {

    display: flex;
    background-color: #0D0D0D;
    color: white;
    width: 100%;
    height: 310px;
    justify-content: space-around;
    padding-top: 30px;

}

.Quicklinks a,
.Help a,
.location p,
.Contacts a {

    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 18px;

}

.location p:hover,
.top a:hover {

    text-decoration: underline;

}

.Quicklinks h1,
.Help h1 {

    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 18px;

}

.Contacts {

    margin-top: 120px;
    text-align: center;
    text-decoration: none;

}

.line {

    width: 200px;
    background-color: white;
    height: 1px;

    margin-bottom: 30px;
}

.Contacts h1 {

    color: white;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 18px;

}

.fb {

    margin-right: 18px;

}

.line2 {

    height: 1px;
    width: 100%;
    background-color: white;

}

.bottom {

    background-color: black;
    padding-block: 1rem;
    display: flex;
    color: white;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    text-wrap: nowrap;

}

.bottom p {

    font-weight: 100;

}

.ARS {

    margin-left: 950px;
}