
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

body {

        margin: 0;
        padding: 0;
      
}

.header {

    background-color: #1A1A1A;
    height: 100%;
    max-height: 80px;
    width: 100%;
    display: flex;
    border-bottom: 5px solid transparent;
    z-index: 1;



}

.nav {

    display: flex;
    align-items: center;
    gap: 40%;
    z-index: 1;
    font-family: 'Inter', sans-serif;

}

.navi {
    text-wrap: nowrap;
    color: white;
    text-decoration: none;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 5%;
    border-bottom: 5px solid transparent;
    padding: auto;
}

.navi:hover {

    border-bottom: 5px solid #FFB1B1;

}



.logo {
    margin-top: 10%;
    padding-left: 10%;
    max-height: 180px;
    z-index: 1;
}

/*1-55 for header*/

/* right side logo */
.logo2{

    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    bottom:  100px;
    width: 599px;
   

}

/*content sa gitna*/
.featcon {

    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 0;
    background: url("images/home/FEATURED\ IMAGE.png") no-repeat center;
    background-size: cover;

    
}

/* text sa left */
.feattext {
    height: auto;
    width: auto;
    padding-right: 10%;
    text-wrap: nowrap;
}

.feattext h1 {

    font-size: 100px;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 100px;

}

/* bringing excellence eme */
.featcon p{

    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    margin: 25px;
    font-family: 'Montserrat';
    

}

/* links */
.featcon a{

  display: inline-flex;
  padding: 10px 50px;
  margin: 5px;
  font-size: 20px;
  font-family: 'Montserrat'

}

.ViewOffers{
    
    background-color: #FFB1B1;
    border: none;
    border-radius:20px;
    text-decoration: none;
    color: black;
}

.LearnMore{
    background-color: transparent;
    border: .5px solid white;
    border-radius:20px;
    text-decoration: none;
    color: white;
    
}

/* carousel and about */
.midcontent{

    display: flex;
    margin: 80px 30px;
    justify-content: space-around;
    align-content: center;
    
}

.about{

    text-wrap: wrap;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.about p{

    font-size: 25px;
    font-family: 'Montserrat';
}

.about h1{
    font-size: 35px;
    font-family: 'Montserrat';
    text-align: center;
}

/*di ko masyado gamay ung sa slider*/
.carousel{
    padding: 2px;


}

.slider{

    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 20px;
    
}

.highlights{
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider img{

    flex: 1 0 100%;
    scroll-snap-align: start;
    margin: 0;
    padding: 0;
    object-fit: cover;
}


.bottom_content{

    width: 100%;
    margin: 90px auto;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    
}

.bottom_content h1{

    text-align: center;
    font-family: 'Montserrat';
    font-weight: bolder;
}
.calltoactions{

    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 440px;
    width: 400px;
    background-color: #077E82;
    border-radius: 5px;
}



.cta a, .cta p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color:#077E82;
    text-align: center;
    text-decoration: none;
    
}

.cta p{
    display: flex;
    align-items: center;
    background-color: #FFB1B1;
    width: 220px;
    text-align: center;
    text-wrap: wrap;
    color: black;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    transform: translateY(-50%);
    box-shadow: 2px 2px 10px black;
    border-radius: 8px;
}


/* footer na to */


.top{

    display: flex;
    background-color: #0D0D0D;
    color: white;
    width: 100%;
    height: 310px;
    justify-content: space-around;
    padding-top: 30px;
}

.Quicklinks a, .Help a, .location p, .Contacts a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

.Quicklinks h1, .Help h1{
    
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 18px;
}

.Contacts{

    margin-top: 120px;
    text-align: center;
    text-decoration: none;
}
.line{

    width: 200px;
    background-color: white;
    height: 1px;
    margin-bottom: 30px;
}

.Contacts h1{
    
    color: white;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}
.fb{
    margin-right: 18px;
}

.line2{

    height: 1px;
    width: 100%;
    background-color: white;
}
.bottom{

    background-color:black;
    display: flex;
    color: white;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    
}
.bottom p{

    font-weight: 100;
}
.ARS{

    margin-left: 950px;
}


