@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@200;400;600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;900&family=Playfair+Display:wght@900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    margin-top: 10%;
    margin: 0;
    padding: 0;
    background-image: url("images/catalog/background.png");
    background-size: cover;

}

/*              HEADER START              */

/* buong header container */
/*              HEADER START              */

/* buong header container */
.header {


  background-color: #1A1A1A;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  top: -1%;
  z-index: 9999;
}

/* buong div para sa navigations excluding img */
.nav-main {


  display: flex;
  align-self: center;


}

/* img logo  */
.header>img {

  margin-inline: 3vw;
  display: block;
  position: relative;

}

/* ito ung main container 
para sa buong navigation buttons */
.header ul {
  list-style: none;
  padding: 0;
}



/* ito ung list containing the anchor links */
.header li {

  display: inline-block;
  position: relative;

}


/* ito ung mismong anchor links <a href>
yung home, about us, contact, etc */
.header li>a {

  margin-inline: 2vw;
  display: block;
  padding: 3.5vh 2vw;
  font-size: 1vw;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Inter', sans-serif;
  border-bottom: 3px solid transparent;
  transition: 0.5s;

}

/* dropdown content ito (beef menu vegetables etc.*/
.header ul li ul.dropdown>li {
  display: block;
  border-radius: 10px;
  font-size: 1vw;

}

/* para sa mga hrefs under the dropdown */
ul.dropdown li a {

  margin: 0;
  color: black;
  padding: 0.6rem 2rem;
  border: 2px solid #1A1A1A;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

/* buong dropdown to */
.header ul li ul.dropdown {

  width: fit-content;
  position: absolute;
  border-radius: 10px;
  z-index: 9999;
  display: none;
}

.header ul li>a:hover {

  border-bottom: 3px solid #FFB1B1;
  transition: 0.3s;
}

.header ul li>a:active {

  color: lightblue;
  transition: 0s;
}

/* ito ung mag popromt na lumabas dropdown pag hinover ung MENU */
.header ul li:hover ul.dropdown {

  display: block;
  z-index: 999;
}

/* animation para sa hrefs under the dropdown */
.header ul li ul.dropdown li a:hover {

  color: white;
  background-color: #FFB1B1;
  border: 2px solid #1A1A1A;
}

/*              HEADER STOP              */

.heading {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
}

/* content */

.text-line {

    height: 2px;
    width: 25rem;
    margin-block: 4px;
    background-color: black;
}

.content{

  display: flex;
  width: 100%;
  flex-direction: row;
  
  
}

.checklist-log{

  position: sticky;
  height: fit-content;
  right: 0;
  top: 15%;
  display: flex;
  flex-direction: column;
  background-color: #FFEDED;
  padding: 3rem 2rem 7rem 2rem;
  align-items: center;
  margin-right: 3%;
  outline: 1px solid black;
  border-radius: 3%;
  margin-bottom: 2rem;
  margin: 40px;
  box-shadow: -3px 7px 21px 0px rgba(0,0,0,0.15);
}
.heading-checklist{

  font-size: 20px;
  font-family: 'Montserrat';
  text-wrap: nowrap;
  font-weight: bold;
  margin-bottom: 2rem;

}

.selected-content{

  background-color: #fff;
  padding: 3rem 2rem 3rem 2rem;
  margin-bottom: 15%;
  border-radius: 5%;
}


.checklist-log a{

  text-decoration: none;
  color: black;
  margin-top: 10%;
  padding-blocK: 1rem;
  padding-inline: 2rem;
  border-radius: 10px;
  background-color: #FFB1B1;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: bold;
  
  }
  
  .checklist-log a:hover{
  
    
    color: black;
    padding-blocK: 1rem;
    padding-inline: 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #fff;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
   
  }



.services {

    width: 70vw;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.services>div {

    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 10px;
    margin-block: 1.5%;

}

.food-warmers {

    height: 10vh;


}

.accesorries {


    height: 43vh;

}

.chairs {

    height: 16vh;
}

.tables-with-mantle {


    height: 33vh;


}

.mantles {


    height: 30vh;


}

.clowns {

    height: 10vh;

}

.tent {

    height: 10vh;
}






form,
.price p {

    font-size: 20px;
    font-family: 'Montserrat';
    text-wrap: wrap;


}

.checkbox {

    border-right: 2px solid black;
    width: 60%;



}

/* footer na to */


.top {

  display: flex;
  background-color: #0D0D0D;
  color: white;
  width: 100%;
  height: 310px;
  justify-content: space-around;
  padding-top: 30px;
  margin-top: 10vh;

}

.Quicklinks a,
.Help a,
.location p,
.Contacts a {

  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  line-height: 150%;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 18px;

}

.location p:hover,
.top a:hover {

  text-decoration: underline;

}

.Quicklinks h1,
.Help h1 {

  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 18px;

}

.Contacts {

  margin-top: 200px;
  text-align: center;
  text-decoration: none;

}

.line {

  width: 200px;
  background-color: white;
  height: 1px;

  margin-bottom: 30px;
}

.Contacts h1 {

  color: white;
  line-height: 150%;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 18px;

}

.fb {

  margin-right: 18px;

}

.line2 {

  height: 1px;
  width: 100%;
  background-color: white;

}

.bottom {

  background-color: black;
  padding-block: 1rem;
  display: flex;
  color: white;
  justify-content: space-evenly;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  text-wrap: nowrap;

}

.bottom p {

  font-weight: 100;

}

.ARS {

  margin-left: 950px;
}
